/************/
/*** BASE ***/
/************/

.container {
  background: #CBB199;
  height: 100vh;
  width: 100%;
}



.cloud {
  height: 200px;
  width: 400px;
  background: url('./assets/cloud.svg') no-repeat center;
  background-size: cover;
  position: relative;
  opacity: 0.3;
}
.top {
  top: 100px;
  left: 100px;
}
.bottom {
  top: 200px;
  left: 900px;
}