$primary: #4F7286;
$secondary: #466F69;


/********************/
/****** MIXINS ******/
/********************/


@mixin box ( $height, $width, $padding, $margin, $background ) {
  height: $height;
  width: $width;
  padding: $padding;
  margin: $margin;
  background: $background;
}

@mixin position( $top, $right, $bottom, $left ) {
  position: relative;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

/*******************/
/*** BASE STYLES ***/
/*******************/


.container {
  background: $primary;
  height: 100vh;
  width: 100%;
}

/******************/
/*** NAVIGATION ***/
/******************/



/*******************/
/***** DAYTIME *****/
/*******************/

.daytime {

  .cloud {
    height: 200px;
    width: 400px;
    background: url('../assets/cloud.svg') no-repeat center;
    background-size: cover;
    position: relative;
    opacity: 0.4;
  }

  .top {
    top: 150px;
    left: -400px;
    animation: traverse-right 35s linear infinite;
  }

  .bottom {
    top: 250px;
    animation: traverse-left 25s linear infinite;
  }

  .sun {
    @include box (100px, 100px, 0, 0, yellow);
    border-radius: 50%;
  }
}

/******************/
/**** MOUNTAIN ****/
/******************/

figure {
  width: 100vw;
  height: 400px;
  background: purple;
}

.mountain {
  height: 200px;
  width: 100%;
  background: url(../assets/mountain.svg);
  position: fixed;
  background-size: cover;
  bottom: 0;
}

/*****************/
/*** KEYFRAMES ***/
/*****************/


/* CLOUD ANIMATIONS */
@keyframes traverse-left {
  100% {
    left: -1000px
  }
}

@keyframes traverse-right {
  100% {
    left: +2000px
  }
}
